**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
.terraformrc
!.terraform.lock.hcl

.env
.env.*
*.pem
*.key
*.p12
*.pfx
credentials
.aws/
.azure/

.DS_Store
.vscode/
.idea/
